
*$py.class
build/
*.db
dist/
.DS_Store
.env
env/
.eslintcache
frontend/node_modules/
.gemini/
.idea/
*.local
*.log
# Node
node_modules/
pkg/
*.pyc
__pycache__/
*.py[cod]
# Python
sql_app.db
*.sqlite3
Thumbs.db
# Tool generated
.venv/
venv/
venv_short/
.vscode/
