fastapi==0.115.0
uvicorn[standard]==0.24.0
pymongo[srv]==4.6.3
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
pydantic
pydantic-settings
ortools
python-dotenv==1.0.0
email-validator
openai
pypdf
openpyxl
python-docx
pillow
pytesseract
pdf2image
